

.node-unpublished{background-color:#fff4f4;}.preview .node{background-color:#ffffea;}#node-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#node-admin-buttons{float:left;
  margin-left:0.5em;
  clear:right;}td.revision-current{background:#ffc;}.node-form .form-text{display:block;width:95%;}.node-form .container-inline .form-text{display:inline;width:auto;}.node-form .standard{clear:both;}.node-form textarea{display:block;width:95%;}.node-form .attachments fieldset{float:none;display:block;}.terms-inline{display:inline;}


div.admin-panel{margin:0;padding:5px 5px 15px 5px;}div.admin-panel .description{margin:0 0 3px;padding:2px 0 3px 0;}div.admin-panel .body{padding:0 4px 2px 8px;}div.admin{padding-top:15px;}div.admin .left{float:left;width:47%;margin-left:1em;}div.admin .right{float:right;width:47%;margin-right:1em;}div.admin .expert-link{text-align:right;
  margin-right:1em;
  padding-right:4px;}table.package{width:100%;}table.package .description{width:100%;}table.package .version{direction:ltr;}div.admin-dependencies,div.admin-required{font-size:0.9em;color:#444;}span.admin-disabled{color:#800;}span.admin-enabled{color:#080;}span.admin-missing{color:#f00;}
table.system-status-report th{border-bottom:1px solid #ccc;}table.system-status-report th,table.system-status-report tr.merge-up td{padding-left:30px;}table.system-status-report th{background-repeat:no-repeat;background-position:5px 50%;
  padding-top:6px;padding-bottom:6px;}table.system-status-report tr.error th{background-image:url(/misc/watchdog-error.png);}table.system-status-report tr.warning th{background-image:url(/misc/watchdog-warning.png);}table.system-status-report tr.ok th{background-image:url(/misc/watchdog-ok.png);}
.theme-settings-left{float:left;width:49%;}.theme-settings-right{float:right;width:49%;}.theme-settings-bottom{clear:both;}
table.screenshot{margin-right:1em;}.theme-info h2{margin-bottom:0;}.theme-info p{margin-top:0;}
.date-container{overflow:auto;clear:left;}.date-container .form-item{margin-top:0;}.date-container .select-container,.date-container .custom-container{float:left;}.date-container .custom-container{margin-left:15px;
  width:50%;}html.js .custom-container label{visibility:hidden;}


fieldset{margin-bottom:1em;padding:.5em;}form{margin:0;padding:0;}hr{height:1px;border:1px solid gray;}img{border:0;}table{border-collapse:collapse;}th{text-align:left;
  padding-right:1em;
  border-bottom:3px solid #ccc;}
.clear-block:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clear-block{display:inline-block;}/* Hides from IE-mac \*/
* html .clear-block{height:1%;}.clear-block{display:block;}



body.drag{cursor:move;}th.active img{display:inline;}tr.even,tr.odd{background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;}tr.drag{background-color:#fffff0;}tr.drag-previous{background-color:#ffd;}td.active{background-color:#ddd;}td.checkbox,th.checkbox{text-align:center;}tbody{border-top:1px solid #ccc;}tbody th{border-bottom:1px solid #ccc;}thead th{text-align:left;
  padding-right:1em;
  border-bottom:3px solid #ccc;}
.breadcrumb{padding-bottom:.5em}div.indentation{width:20px;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;
  padding:0.42em 0 0.42em 0.6em;
  float:left;}div.tree-child{background:url(/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/misc/tree-bottom.png) no-repeat 11px center;}div.tree-child-horizontal{background:url(/misc/tree.png) no-repeat -11px center;}.error{color:#e55;}div.error{border:1px solid #d77;}div.error,tr.error{background:#fcc;color:#200;padding:2px;}.warning{color:#e09010;}div.warning{border:1px solid #f0c020;}div.warning,tr.warning{background:#ffd;color:#220;padding:2px;}.ok{color:#008000;}div.ok{border:1px solid #00aa00;}div.ok,tr.ok{background:#dfd;color:#020;padding:2px;}.item-list .icon{color:#555;float:right;
  padding-left:0.25em;
  clear:right;}.item-list .title{font-weight:bold;}.item-list ul{margin:0 0 0.75em 0;padding:0;}.item-list ul li{margin:0 0 0.25em 1.5em;
  padding:0;list-style:disc;}ol.task-list li.active{font-weight:bold;}.form-item{margin-top:1em;margin-bottom:1em;}tr.odd .form-item,tr.even .form-item{margin-top:0;margin-bottom:0;white-space:nowrap;}tr.merge-down,tr.merge-down td,tr.merge-down th{border-bottom-width:0 !important;}tr.merge-up,tr.merge-up td,tr.merge-up th{border-top-width:0 !important;}.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid red;}.form-item .description{font-size:0.85em;}.form-item label{display:block;font-weight:bold;}.form-item label.option{display:inline;font-weight:normal;}.form-checkboxes,.form-radios{margin:1em 0;}.form-checkboxes .form-item,.form-radios .form-item{margin-top:0.4em;margin-bottom:0.4em;}.marker,.form-required{color:#f00;}.more-link{text-align:right;}.more-help-link{font-size:0.85em;text-align:right;}.nowrap{white-space:nowrap;}.item-list .pager{clear:both;text-align:center;}.item-list .pager li{background-image:none;display:inline;list-style-type:none;padding:0.5em;}.pager-current{font-weight:bold;}.tips{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-size:0.9em;}dl.multiselect dd.b,dl.multiselect dd.b .form-item,dl.multiselect dd.b select{font-family:inherit;font-size:inherit;width:14em;}dl.multiselect dd.a,dl.multiselect dd.a .form-item{width:8em;}dl.multiselect dt,dl.multiselect dd{float:left;
  line-height:1.75em;padding:0;margin:0 1em 0 0;}dl.multiselect .form-item{height:1.75em;margin:0;}
.container-inline div,.container-inline label{display:inline;}
ul.primary{border-collapse:collapse;padding:0 0 0 1em;
  white-space:nowrap;list-style:none;margin:5px;height:auto;line-height:normal;border-bottom:1px solid #bbb;}ul.primary li{display:inline;}ul.primary li a{background-color:#ddd;border-color:#bbb;border-width:1px;border-style:solid solid none solid;height:auto;margin-right:0.5em;
  padding:0 1em;text-decoration:none;}ul.primary li.active a{background-color:#fff;border:1px solid #bbb;border-bottom:#fff 1px solid;}ul.primary li a:hover{background-color:#eee;border-color:#ccc;border-bottom-color:#eee;}ul.secondary{border-bottom:1px solid #bbb;padding:0.5em 1em;margin:5px;}ul.secondary li{display:inline;padding:0 1em;border-right:1px solid #ccc;}ul.secondary a{padding:0;text-decoration:none;}ul.secondary a.active{border-bottom:4px solid #999;}

#autocomplete{position:absolute;border:1px solid;overflow:hidden;z-index:100;}#autocomplete ul{margin:0;padding:0;list-style:none;}#autocomplete li{background:#fff;color:#000;white-space:pre;cursor:default;}#autocomplete li.selected{background:#0072b9;color:#fff;}
html.js input.form-autocomplete{background-image:url(/misc/throbber.gif);background-repeat:no-repeat;background-position:100% 2px;}html.js input.throbbing{background-position:100% -18px;}
html.js fieldset.collapsed{border-bottom-width:0;border-left-width:0;border-right-width:0;margin-bottom:0;height:1em;}html.js fieldset.collapsed *{display:none;}html.js fieldset.collapsed legend{display:block;}html.js fieldset.collapsible legend a{padding-left:15px;
  background:url(/misc/menu-expanded.png) 5px 75% no-repeat;}html.js fieldset.collapsed legend a{background-image:url(/misc/menu-collapsed.png);
  background-position:5px 50%;}
* html.js fieldset.collapsed legend,* html.js fieldset.collapsed legend *,* html.js fieldset.collapsed table *{display:inline;}
html.js fieldset.collapsible{position:relative;}html.js fieldset.collapsible legend a{display:block;}
html.js fieldset.collapsible .fieldset-wrapper{overflow:auto;}
.resizable-textarea{width:95%;}.resizable-textarea .grippie{height:9px;overflow:hidden;background:#eee url(/misc/grippie.png) no-repeat center 2px;border:1px solid #ddd;border-top-width:0;cursor:s-resize;}html.js .resizable-textarea textarea{margin-bottom:0;width:100%;display:block;}
.draggable a.tabledrag-handle{cursor:move;float:left;
  height:1.7em;margin:-0.4em 0 -0.4em -0.5em;
  padding:0.42em 1.5em 0.42em 0.5em;
  text-decoration:none;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{margin-top:4px;height:13px;width:13px;background:url(/misc/draggable.png) no-repeat 0 0;}a.tabledrag-handle-hover .handle{background-position:0 -20px;}
.joined + .grippie{height:5px;background-position:center 1px;margin-bottom:-2px;}
.teaser-checkbox{padding-top:1px;}div.teaser-button-wrapper{float:right;
  padding-right:5%;
  margin:0;}.teaser-checkbox div.form-item{float:right;
  margin:0 5% 0 0;
  padding:0;}textarea.teaser{display:none;}html.js .no-js{display:none;}
.progress{font-weight:bold;}.progress .bar{background:#fff url(/misc/progress.gif);border:1px solid #00375a;height:1.5em;margin:0 0.2em;}.progress .filled{background:#0072b9;height:1em;border-bottom:0.5em solid #004a73;width:0%;}.progress .percentage{float:right;}.progress-disabled{float:left;}.ahah-progress{float:left;}.ahah-progress .throbber{width:15px;height:15px;margin:2px;background:transparent url(/misc/throbber.gif) no-repeat 0px -18px;float:left;}tr .ahah-progress .throbber{margin:0 2px;}.ahah-progress-bar{width:16em;}
#first-time strong{display:block;padding:1.5em 0 .5em;}
tr.selected td{background:#ffc;}
table.sticky-header{margin-top:0;background:#fff;}
#clean-url.install{display:none;}
html.js .js-hide{display:none;}
#system-modules div.incompatible{font-weight:bold;}
#system-themes-form div.incompatible{font-weight:bold;}
span.password-strength{visibility:hidden;}input.password-field{margin-right:10px;}div.password-description{padding:0 2px;margin:4px 0 0 0;font-size:0.85em;max-width:500px;}div.password-description ul{margin-bottom:0;}.password-parent{margin:0 0 0 0;}
input.password-confirm{margin-right:10px;}.confirm-parent{margin:5px 0 0 0;}span.password-confirm{visibility:hidden;}span.password-confirm span{font-weight:normal;}

ul.menu{list-style:none;border:none;text-align:left;}ul.menu li{margin:0 0 0 0.5em;}li.expanded{list-style-type:circle;list-style-image:url(/misc/menu-expanded.png);padding:0.2em 0.5em 0 0;
  margin:0;}li.collapsed{list-style-type:disc;list-style-image:url(/misc/menu-collapsed.png);
  padding:0.2em 0.5em 0 0;
  margin:0;}li.leaf{list-style-type:square;list-style-image:url(/misc/menu-leaf.png);padding:0.2em 0.5em 0 0;
  margin:0;}li a.active{color:#000;}td.menu-disabled{background:#ccc;}ul.links{margin:0;padding:0;}ul.links.inline{display:inline;}ul.links li{display:inline;list-style-type:none;padding:0 0.5em;}.block ul{margin:0;padding:0 0 0.25em 1em;}

#permissions td.module{font-weight:bold;}#permissions td.permission{padding-left:1.5em;}#access-rules .access-type,#access-rules .rule-type{margin-right:1em;
  float:left;}#access-rules .access-type .form-item,#access-rules .rule-type .form-item{margin-top:0;}#access-rules .mask{clear:both;}#user-login-form{text-align:center;}#user-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#user-admin-buttons{float:left;
  margin-left:0.5em;
  clear:right;}#user-admin-settings fieldset .description{font-size:0.85em;padding-bottom:.5em;}
.profile{clear:both;margin:1em 0;}.profile .picture{float:right;
  margin:0 1em 1em 0;}.profile h3{border-bottom:1px solid #ccc;}.profile dl{margin:0 0 1.5em 0;}.profile dt{margin:0 0 0.2em 0;font-weight:bold;}.profile dd{margin:0 0 1em 0;}


.field .field-label,.field .field-label-inline,.field .field-label-inline-first{font-weight:bold;}.field .field-label-inline,.field .field-label-inline-first{display:inline;}.field .field-label-inline{visibility:hidden;}
.node-form .content-multiple-table td.content-multiple-drag{width:30px;padding-right:0;}.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle{padding-right:.5em;}.node-form .content-add-more .form-submit{margin:0;}.node-form .number{display:inline;width:auto;}.node-form .text{width:auto;}
.form-item #autocomplete .reference-autocomplete{white-space:normal;}.form-item #autocomplete .reference-autocomplete label{display:inline;font-weight:normal;}
#content-field-overview-form .advanced-help-link,#content-display-overview-form .advanced-help-link{margin:4px 4px 0 0;}#content-field-overview-form .label-group,#content-display-overview-form .label-group,#content-copy-export-form .label-group{font-weight:bold;}table#content-field-overview .label-add-new-field,table#content-field-overview .label-add-existing-field,table#content-field-overview .label-add-new-group{float:left;}table#content-field-overview tr.content-add-new .tabledrag-changed{display:none;}table#content-field-overview tr.content-add-new .description{margin-bottom:0;}table#content-field-overview .content-new{font-weight:bold;padding-bottom:.5em;}
.advanced-help-topic h3,.advanced-help-topic h4,.advanced-help-topic h5,.advanced-help-topic h6{margin:1em 0 .5em 0;}.advanced-help-topic dd{margin-bottom:.5em;}.advanced-help-topic span.code{background-color:#EDF1F3;font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;font-size:0.9em;padding:1px;}.advanced-help-topic .content-border{border:1px solid #AAA}
.container-inline-date{width:auto;clear:both;display:inline-block;vertical-align:top;margin-right:0.5em;}.container-inline-date .form-item{float:none;padding:0;margin:0;}.container-inline-date .form-item .form-item{float:left;}.container-inline-date .form-item,.container-inline-date .form-item input{width:auto;}.container-inline-date .description{clear:both;}.container-inline-date .form-item input,.container-inline-date .form-item select,.container-inline-date .form-item option{margin-right:5px;}.container-inline-date .date-spacer{margin-left:-5px;}.views-right-60 .container-inline-date div{padding:0;margin:0;}.container-inline-date .date-timezone .form-item{float:none;width:auto;clear:both;}
#calendar_div,#calendar_div td,#calendar_div th{margin:0;padding:0;}#calendar_div,.calendar_control,.calendar_links,.calendar_header,.calendar{width:185px;border-collapse:separate;margin:0;}.calendar td{padding:0;}
span.date-display-single{}span.date-display-start{}span.date-display-end{}span.date-display-separator{}.date-repeat-input{float:left;
  width:auto;margin-right:5px;}.date-repeat-input select{min-width:7em;}.date-repeat fieldset{clear:both;float:none;}.date-views-filter-wrapper{min-width:250px;}.date-views-filter input{float:left !important;
  margin-right:2px !important;
  padding:0 !important;width:12em;min-width:12em;}.date-nav{width:100%;}.date-nav div.date-prev{text-align:left;
  width:24%;float:left;}.date-nav div.date-next{text-align:right;
  width:24%;float:right;}.date-nav div.date-heading{text-align:center;width:50%;float:left;}.date-nav div.date-heading h3{margin:0;padding:0;}.date-clear{float:none;clear:both;display:block;}.date-clear-block{float:none;width:auto;clear:both;} 	 
 .date-clear-block:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}.date-clear-block{display:inline-block;}/* Hides from IE-mac \*/ 	 
 * html .date-clear-block{height:1%;}.date-clear-block{display:block;}

.date-container .date-format-delete{margin-top:1.8em;margin-left:1.5em;float:left;}.date-container .date-format-name{float:left;}.date-container .date-format-type{float:left;padding-left:10px;}.date-container .select-container{clear:left;float:left;}
div.date-calendar-day{line-height:1;width:40px;float:left;margin:6px 10px 0 0;background:#F3F3F3;border-top:1px solid #eee;border-left:1px solid #eee;border-right:1px solid #bbb;border-bottom:1px solid #bbb;color:#999;text-align:center;font-family:Georgia,Arial,Verdana,sans;}div.date-calendar-day span{display:block;text-align:center;}div.date-calendar-day span.month{font-size:.9em;background-color:#B5BEBE;color:white;padding:2px;text-transform:uppercase;}div.date-calendar-day span.day{font-weight:bold;font-size:2em;}div.date-calendar-day span.year{font-size:.9em;padding:2px;}
#ui-datepicker-div table,#ui-datepicker-div td,#ui-datepicker-div th{margin:0;padding:0;}#ui-datepicker-div,#ui-datepicker-div table,.ui-datepicker-div,.ui-datepicker-div table,.ui-datepicker-inline,.ui-datepicker-inline table{font-size:12px !important;}.ui-datepicker-div,.ui-datepicker-inline,#ui-datepicker-div{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;background:#ffffff;border:2px solid #d3d3d3;font-family:Verdana,Arial,sans-serif;font-size:1.1em;margin:0;padding:2.5em .5em .5em .5em;position:relative;width:15.5em;}#ui-datepicker-div{background:#ffffff;display:none;z-index:9999;}.ui-datepicker-inline{display:block;float:left;}.ui-datepicker-control{display:none;}.ui-datepicker-current{display:none;}.ui-datepicker-next,.ui-datepicker-prev{background:#e6e6e6 url(/sites/all/modules/acquia/date/date_popup/themes/images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
  left:.5em;
  position:absolute;top:.5em;}.ui-datepicker-next{left:14.6em;}.ui-datepicker-next:hover,.ui-datepicker-prev:hover{background:#dadada url(/sites/all/modules/acquia/date/date_popup/themes/images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;}.ui-datepicker-next a,.ui-datepicker-prev a{background:url(/sites/all/modules/acquia/date/date_popup/themes/images/888888_7x7_arrow_left.gif) 50% 50% no-repeat;
  border:1px solid #d3d3d3;cursor:pointer;display:block;font-size:1em;height:1.4em;text-indent:-999999px;width:1.3em;}.ui-datepicker-next a{background:url(/sites/all/modules/acquia/date/date_popup/themes/images/888888_7x7_arrow_right.gif) 50% 50% no-repeat;}.ui-datepicker-prev a:hover{background:url(/sites/all/modules/acquia/date/date_popup/themes/images/454545_7x7_arrow_left.gif) 50% 50% no-repeat;}.ui-datepicker-next a:hover{background:url(/sites/all/modules/acquia/date/date_popup/themes/images/454545_7x7_arrow_right.gif) 50% 50% no-repeat;}.ui-datepicker-prev a:active{background:url(/sites/all/modules/acquia/date/date_popup/themes/images/222222_7x7_arrow_left.gif) 50% 50% no-repeat;}.ui-datepicker-next a:active{background:url(/sites/all/modules/acquia/date/date_popup/themes/images/222222_7x7_arrow_right.gif) 50% 50% no-repeat;}.ui-datepicker-header select{background:#e6e6e6;border:1px solid #d3d3d3;color:#555555;font-size:1em;line-height:1.4em;margin:0 !important;padding:0 !important;position:absolute;top:.5em;}.ui-datepicker-header select.ui-datepicker-new-month{left:2.2em;
  width:7em;}.ui-datepicker-header select.ui-datepicker-new-year{left:9.4em;
  width:5em;}table.ui-datepicker{text-align:right;
  width:15.5em;}table.ui-datepicker td a{color:#555555;display:block;padding:.1em .3em .1em 0;
  text-decoration:none;}table.ui-datepicker tbody{border-top:none;}table.ui-datepicker tbody td a{background:#e6e6e6 url(/sites/all/modules/acquia/date/date_popup/themes/images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
  border:1px solid #ffffff;cursor:pointer;}table.ui-datepicker tbody td a:hover{background:#dadada url(/sites/all/modules/acquia/date/date_popup/themes/images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
  border:1px solid #999999;color:#212121;}table.ui-datepicker tbody td a:active{background:#ffffff url(/sites/all/modules/acquia/date/date_popup/themes/images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
  border:1px solid #dddddd;color:#222222;}table.ui-datepicker .ui-datepicker-title-row td{
  color:#222222;font-size:.9em;padding:.3em 0;text-align:center;text-transform:uppercase;}table.ui-datepicker .ui-datepicker-title-row td a{color:#222222;}
.timeEntry_control{vertical-align:middle;margin-left:2px;}* html .timeEntry_control{
	margin-top:-4px;}
.timeEntry{background-color:transparent !important;}

.timeEntry_control{display:none;}






.filefield-icon{float:left;
  margin-right:0.4em;}


.filefield-element{margin:1em 0;white-space:normal;}.filefield-element .widget-preview{float:left;
  padding-right:10px;
  border-right:1px solid #CCC;
  margin-right:10px;
  max-width:30%;}.filefield-element .widget-edit{float:left;
  max-width:70%;}.filefield-element .filefield-preview{width:16em;overflow:hidden;}.filefield-element .widget-edit .form-item{margin:0 0 1em 0;}.filefield-element input.form-submit,.filefield-element input.form-file{margin:0;}.filefield-element input.progress-disabled{float:none;display:inline;}.filefield-element div.ahah-progress,.filefield-element div.throbber{display:inline;float:none;padding:1px 13px 2px 3px;}.filefield-element div.ahah-progress-bar{display:none;margin-top:4px;width:28em;padding:0;}.filefield-element div.ahah-progress-bar div.bar{margin:0;}



.filefield-generic-edit .filefield-icon{float:left;
  margin-right:0.7em;
  margin-top:0.3em;}.filefield-generic-edit-description{margin-right:6em;}
.filefield-generic-edit .form-text{width:99%;}.filefield-generic-edit .description{white-space:normal;margin-bottom:0;overflow:auto;}



.rteindent1{margin-left:40px;}.rteindent2{margin-left:80px;}.rteindent3{margin-left:120px;}.rteindent4{margin-left:160px;}.rteleft{text-align:left;}.rteright{text-align:right;}.rtecenter{text-align:center;}.rtejustify{text-align:justify;}.ibimage_left{float:left;}.ibimage_right{float:right;}
table.cke_editor fieldset{padding:0 !important;}
.cke_editor{display:table !important;}.cke_editor,#ie#bug{display:inline-table !important;}
.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#FFFFDD none repeat scroll 0 0;border:1px solid #F0C020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;}

div.panel-pane div.admin-links{font-size:xx-small;margin-right:1em;}div.panel-pane div.admin-links li a{color:#ccc;}div.panel-pane div.admin-links li{padding-bottom:2px;background:white;z-index:201;}div.panel-pane div.admin-links:hover a,div.panel-pane div.admin-links-hover a{color:#000;}div.panel-pane div.admin-links a:before{content:"[";}div.panel-pane div.admin-links a:after{content:"]";}div.panel-pane div.panel-hide{display:none;}
div.panel-pane div.panel-hide-hover,div.panel-pane:hover div.panel-hide{display:block;position:absolute;z-index:200;margin-top:-1.5em;}div.panel-pane div.node{margin:0;padding:0;}div.panel-pane div.feed a{float:right;}

.farbtastic{position:relative;}.farbtastic *{position:absolute;cursor:crosshair;}.farbtastic,.farbtastic .wheel{width:195px;height:195px;}.farbtastic .color,.farbtastic .overlay{top:47px;left:47px;width:101px;height:101px;}.farbtastic .wheel{background:url(/misc/farbtastic/wheel.png) no-repeat;width:195px;height:195px;}.farbtastic .overlay{background:url(/misc/farbtastic/mask.png) no-repeat;}.farbtastic .marker{width:17px;height:17px;margin:-8px 0 0 -8px;overflow:hidden;background:url(/misc/farbtastic/marker.png) no-repeat;}

div.fieldgroup{margin:.5em 0 1em 0;}div.fieldgroup .content{padding-left:1em;}





  
  body{font-size:100%;}#page{

    
    font-size:0.75em;
    line-height:1.333em;

    
    font-size:0.875em;
    line-height:1.286em;}body,caption,th,td,input,textarea,select,option,legend,fieldset{

    font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;}pre,code{font-size:1.1em;
    font-family:"Bitstream Vera Sans Mono","Courier New",monospace;}
  h1{font-size:2em;line-height:1.3em;margin-top:0;margin-bottom:0.5em;}h2{font-size:1.5em;line-height:1.3em;margin-top:0.667em;
    margin-bottom:0.667em;}h3{font-size:1.3em;line-height:1.3em;margin-top:0.769em;
    margin-bottom:0.769em;}h4,h5,h6{font-size:1.1em;line-height:1.3em;margin-top:0.909em;
    margin-bottom:0.909em;}
  p,ul,ol,dl,pre,table,fieldset,blockquote{margin:1em 0;}
  
  ul,ol{margin-left:0;padding-left:2em;}.block ul,
  .item-list ul{margin:1em 0;padding:0 0 0 2em;}ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul{margin:0;}li{margin:0;padding:0;}.item-list ul li {margin:0;padding:0;list-style:inherit;}ul.menu li,
  li.expanded,li.collapsed,li.leaf{margin:0;padding:0;}ul{list-style-type:disc;}ul ul{list-style-type:circle;}ul ul ul{list-style-type:square;}ul ul ul ul{list-style-type:circle;}ol{list-style-type:decimal;}ol ol{list-style-type:lower-alpha;}ol ol ol{list-style-type:decimal;}dt{margin:0;padding:0;}dd{margin:0 0 0 2em;padding:0;}
  
  a:link{}a:visited{}a:hover,a:focus{}a:active{}
  
  table{border-collapse:collapse; }th,thead th,tbody th{text-align:left;padding-right:0;border-bottom:none;}tbody{border-top:none;}
  abbr{border-bottom:1px dotted #666;cursor:help;white-space:nowrap;}
  abbr.created{border:none;cursor:auto;white-space:normal;}
  img{border:0;}
  hr{height:1px;border:1px solid #666;}
  form{margin:0;padding:0;}fieldset{margin:1em 0;padding:0.5em;}



  div.tabs{margin:0 0 5px 0;}ul.primary{margin:0;padding:0 0 0 10px;border-width:0;list-style:none;white-space:nowrap;line-height:normal;background:url(/sites/default/themes/zen/images/tab-bar.png) repeat-x left bottom;}ul.primary li{float:left;margin:0;padding:0;}ul.primary li a{display:block;height:24px;margin:0;padding:0 0 0 5px;
    border-width:0;font-weight:bold;text-decoration:none;color:#777;background-color:transparent;background:url(/sites/default/themes/zen/images/tab-left.png) no-repeat left -38px;}ul.primary li a .tab{display:block;height:20px;
    margin:0;padding:4px 13px 0 6px;border-width:0;line-height:20px;background:url(/sites/default/themes/zen/images/tab-right.png) no-repeat right -38px;}ul.primary li a:hover{border-width:0;background-color:transparent;background:url(/sites/default/themes/zen/images/tab-left.png) no-repeat left -76px;}ul.primary li a:hover .tab{background:url(/sites/default/themes/zen/images/tab-right.png) no-repeat right -76px;}ul.primary li.active a,ul.primary li.active a:hover{border-width:0;color:#000;background-color:transparent;background:url(/sites/default/themes/zen/images/tab-left.png) no-repeat left 0;}ul.primary li.active a .tab,ul.primary li.active a:hover .tab{background:url(/sites/default/themes/zen/images/tab-right.png) no-repeat right 0;}ul.secondary{margin:0;padding:0 0 0 5px;border-bottom:1px solid #c0c0c0;list-style:none;white-space:nowrap;background:url(/sites/default/themes/zen/images/tab-secondary-bg.png) repeat-x left bottom;}ul.secondary li{float:left;margin:0 5px 0 0;padding:5px 0;border-right:none;}ul.secondary a{display:block;height:24px;margin:0;padding:0;border:1px solid #c0c0c0;text-decoration:none;color:#777;background:url(/sites/default/themes/zen/images/tab-secondary.png) repeat-x left -56px;}ul.secondary a .tab{display:block;height:18px;
    margin:0;padding:3px 8px;line-height:18px;}ul.secondary a:hover{background:url(/sites/default/themes/zen/images/tab-secondary.png) repeat-x left bottom;}ul.secondary a.active,ul.secondary a.active:hover{border:1px solid #c0c0c0;color:#000;background:url(/sites/default/themes/zen/images/tab-secondary.png) repeat-x left top;}




  div.messages,
  div.status,div.warning,div.error{min-height:21px;margin:0 1em 5px 1em;border:2px solid #ff7;padding:5px 5px 5px 35px;color:#000;background-color:#ffc;background-image:url(/sites/default/themes/zen/images/messages-status.png);background-repeat:no-repeat;background-position:5px 5px;}div.status {}div.warning {border-color:#fc0;background-image:url(/sites/default/themes/zen/images/messages-warning.png);}div.warning,tr.warning{color:#000;
    background-color:#ffc;}div.error { 
    border-color:#c00;background-image:url(/sites/default/themes/zen/images/messages-error.png);}div.error,tr.error{color:#900;
    background-color:#fee;}div.messages ul{margin-top:0;margin-bottom:0;}



  div.block.with-block-editing{position:relative;}div.block.with-block-editing div.edit{display:none;position:absolute;right:0;top:0;z-index:40;border:1px solid #eee;padding:0 2px;font-size:0.75em;background-color:#fff;}div.block.with-block-editing:hover div.edit{display:block;}




  .with-wireframes #header-inner,.with-wireframes #content-inner,.with-wireframes #content-inner>*,.with-wireframes #navbar-inner,.with-wireframes #sidebar-left-inner,.with-wireframes #sidebar-right-inner,.with-wireframes #footer-inner{margin:1px;padding:2px;border:1px solid #ccc;}.with-wireframes #closure-blocks{margin-top:1px;padding:2px;border:1px solid #ccc;}





  body{margin:0;padding:10px;}#page{}#page-inner{}
  #header{}#header-inner{}#logo-title {}#logo {margin:0 10px 0 0;padding:0;}#logo-image {}h1#site-name,div#site-name {margin:0;font-size:2em;line-height:1.3em;}#site-name a:link,#site-name a:visited{color:#000;text-decoration:none;}#site-name a:hover{text-decoration:underline;}#site-slogan {}#header-blocks {}
  #main{}#main-inner{}
  #content{}#content-inner{}#mission {}#content-top {}#content-header {}.breadcrumb {padding-bottom:0;}h1.title,
  h2.title,
  h3.title {margin:0;}div.messages {}div.status {}div.warning,tr.warning { }div.error,tr.error {}div.tabs {}.help {margin:1em 0;}.more-help-link {font-size:0.85em;text-align:right;}#content-area {}ul.links {margin:1em 0;padding:0;}ul.links.inline{margin:0;display:inline;}ul.links li{display:inline;list-style-type:none;padding:0 0.5em;}.pager {clear:both;margin:1em 0;text-align:center;}.pager a,.pager strong.pager-current{padding:0.5em;}.feed-icons {margin:1em 0;}#content-bottom {}
  #navbar{}#navbar-inner{}#search-box {}#edit-search-theme-form-1-wrapper label {display:none;}#primary {}#secondary {}
  #sidebar-left{}#sidebar-left-inner{}
  #sidebar-right{}#sidebar-right-inner{}
  #footer{}#footer-inner{}#footer-message {}
  #closure-blocks {}
  .node {}.node-inner {}.sticky {}.node-unpublished { }.node-unpublished div.unpublished,
  .comment-unpublished div.unpublished{height:0;overflow:visible;color:#d8d8d8;font-size:75px;line-height:1;font-family:Impact,"Arial Narrow",Helvetica,sans-serif;font-weight:bold;text-transform:uppercase;text-align:center;word-wrap:break-word;}.node-mine {}.node-teaser {}
  .node-type-page {}.node-type-story {}.node h2.title {}.marker {color:#c00;}.node .picture {}.node.node-unpublished .picture,.comment.comment-unpublished .picture{position:relative;}.node .meta {}.node .submitted {}.node .terms {}.node .content {}.node ul.links {}.preview .node { }
  #comments {margin:1em 0;}#comments-title {}.comment {}.comment-inner {}.comment-preview {}.comment.new {}.comment.odd {}.comment.even {}.comment.first {}.comment.last {}.comment-unpublished { }.comment-unpublished div.unpublished {}.comment-published {}.comment-by-anon {}.comment-by-author {}.comment-mine {}.comment h3.title {}.new {color:#c00;}.comment .picture {}.comment .submitted {}.comment .content {}.comment .user-signature {}.comment ul.links {margin:1em 0;}.indented { }.preview .comment { }
  .block {margin-bottom:1em;}.block.region-odd {}.block.region-even {}.block.odd {}.block.even {}.region-count-1 {}.count-1 {}.block-inner {}.block h2.title {}.block .content {}#block-aggregator-category-1 {}#block-aggregator-feed-1 {}#block-block-1 {}#block-blog-0 {}#block-book-0 {}#block-comment-0 {}#block-forum-0 {}#block-forum-1 {}#block-menu-primary-links {}#block-menu-secondary-links {}#block-node-0 {}#block-poll-0 {}#block-profile-0 {}#block-search-0 {}#block-statistics-0 {}#block-user-0 {}#block-user-1 {}#block-user-2 {}#block-user-3 {}
  
  .box {}.box-inner {}.box h2.title {}.box .content {}
  .error { }.warning { }.more-link {text-align:right;}#user-login-form {text-align:left;}tr.even { }tr.odd{ }li a.active {color:#000;}
  .form-item,
  .form-checkboxes,.form-radios{margin:1em 0;}.form-item input.error,
  .form-item textarea.error,.form-item select.error{border:2px solid #c00;}.form-item label {display:block;font-weight:bold;}.form-item label.option {display:inline;font-weight:normal;}.form-required {color:#c00;}.form-item .description {font-size:0.85em;}.form-checkboxes .form-item,
  .form-radios .form-item{margin:0.4em 0;}.form-submit {}.container-inline div,.container-inline label {display:inline;}.tips {margin:0;padding:0;font-size:0.9em;}
  
  #user-login-form ul {margin-bottom:0;}#user-login-form li.openid-link {margin-top:1em;margin-left:-20px;}#user-login-form li.user-link {margin-top:1em;}#user-login ul{margin:1em 0;}#user-login li.openid-link,
  #user-login li.user-link{margin-left:-2em;}
  
  form tbody{border-top:1px solid #ccc;}form th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}form tbody th{border-bottom:1px solid #ccc;}form thead th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}.node-type-page h2.cattitle{margin-right:-1px;}.thumbcontainer_box{width:89px;margin-right:10px;margin-bottom:12px;}.thumbcontainer_box_9_8{margin-right:-1px;}.thumbcontainer_box img{margin-bottom:5px;}.thumbcontainer_box .projecttitle{font-family:arial;font-size:11px;line-height:15px;margin-top:5px;margin-bottom:4px;}.projectthumbs .thumbcontainer{overflow:hidden;}.projectthumbs_new{}.projectthumbs_new .thumbcontainer{margin-left:10px;margin-bottom:10px;margin-top:5px;}.projectthumbs_new .thumbcontainer_5_0{margin-left:0px;}.projectdetails .col1{height:105px;overflow:hidden;margin-bottom:10px;}.page-contact-us .projectdetails .col1{height:auto;overflow:visible;}#maxamise_mainContent,#minimise_mainContent{cursor:pointer;position:absolute;padding:10px;}#maxamise_mainContent:hover,#minimise_mainContent:hover{background-color:#FFF;}#maxamise_mainContent span,#minimise_mainContent span{display:block;background-repeat:no-repeat;background-position:0 0;width:106px;height:14px;background-image:url(/sites/default/themes/zen/images/expanding_arrows/more_background.gif);text-indent:-30000px;}#maxamise_mainContent span{width:102px;background-image:url(/sites/default/themes/zen/images/expanding_arrows/less_background.gif);}#maxamise_mainContent{bottom:0;left:0;background:url(/sites/default/themes/zen/images/bgcontent.png);}#minimise_mainContent{top:0px;right:0px;}#mainContentInner{overflow:hidden;}


#search #edit-submit{display:none;}#search .form-text{background:url(/sites/default/themes/zen/images/go.jpg) no-repeat top right;padding-right:16px;}





  body{}#page,#closure-blocks{
    margin-left:auto;margin-right:auto;width:960px;}#page-inner{}#navigation-top,#navigation{position:absolute;
    left:-10000px;}#skip-to-nav{float:right;margin:0 !important;font-size:0.8em;}#skip-to-nav a:link,#skip-to-nav a:visited{color:#fff;}#skip-to-nav a:hover{color:#000;text-decoration:none;}
  


  #header{}#header-inner{}#logo-title{}#logo{float:left;}#site-name{}#site-slogan{}#header-blocks{clear:both;}
  #main{position:relative;}#main-inner{}
  #content,.no-sidebars #content{float:left;width:960px;margin-left:0;margin-right:-960px;
    padding:0;}.sidebar-left #content{width:760px;margin-left:200px;
    margin-right:-960px;}.sidebar-right #content{width:760px;margin-left:0;margin-right:-760px;}.two-sidebars #content{width:560px;margin-left:200px;
    margin-right:-760px;}#content-inner{margin:0;padding:0;}
  #navbar{float:left;width:100%;margin-left:0;margin-right:-100%;
    padding:0;
    height:3.6em;}.with-navbar #content,.with-navbar #sidebar-left,.with-navbar #sidebar-right{margin-top:3.6em;}#navbar-inner{}#search-box{width:200px;margin-right:-200px;
    float:left;}#primary{margin-left:200px;}#secondary{margin-left:200px;}#navbar ul {margin:0;padding:0;text-align:left;}#navbar li {float:left;padding:0 10px 0 0;}
  


  #sidebar-left{float:left;width:200px;margin-left:0;margin-right:-200px;
    padding:0;}#sidebar-left-inner{margin:0 20px 0 0;padding:0;}
  #sidebar-right{float:left;width:200px;margin-left:760px;
    margin-right:-960px;
    padding:0;}#sidebar-right-inner{margin:0 0 0 20px;padding:0;}
  #footer{}#footer-inner{}
  #closure-blocks {}
  #header,#content,#navbar,#sidebar-left,#sidebar-right,#footer,#closure-blocks{overflow:visible;word-wrap:break-word;}#navbar{overflow:hidden;}
  
