
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=47b82278-f2b4-4c62-8b31-85bb8fab3afe");
@font-face{
font-family:"Univers LT W01 45 Light";
src:url("webfonts/2b61512c-069e-4111-bb23-9a918f94a74d.eot?iefix") format("eot");}
@font-face{
font-family:"Univers LT W01 45 Light";
src:url("webfonts/2b61512c-069e-4111-bb23-9a918f94a74d.eot?iefix");
src:url("webfonts/ecf89914-1896-43f6-a0a0-fe733d1db6e7.woff") format("woff"),url("webfonts/7628f343-8c36-4707-9559-8feb86c0462f.ttf") format("truetype"),url("webfonts/11b816e7-d678-48dd-bc75-560de9c19049.svg#11b816e7-d678-48dd-bc75-560de9c19049") format("svg");
}
@font-face{
font-family:"Univers LT W01 55 Roman";
src:url("webfonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?iefix") format("eot");}
@font-face{
font-family:"Univers LT W01 55 Roman";
src:url("webfonts/b5c30ea8-0700-4fd2-aa12-cc45074693a9.eot?iefix");
src:url("webfonts/7b95cb9a-a288-4405-97a0-13095f56a903.woff") format("woff"),url("webfonts/c7481806-4ea4-40db-a623-7bc352bbbe43.ttf") format("truetype"),url("webfonts/ac8280da-3de5-456d-bd77-8f01665452a9.svg#ac8280da-3de5-456d-bd77-8f01665452a9") format("svg");
}
@font-face{
font-family:"Univers LT W01 65 Bold";
src:url("webfonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?iefix") format("eot");}
@font-face{
font-family:"Univers LT W01 65 Bold";
src:url("webfonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?iefix");
src:url("webfonts/b993da84-c1f6-474a-8f00-8aa797b3de8f.woff") format("woff"),url("webfonts/58403ef6-4c15-4280-b4b6-9acf50804f4f.ttf") format("truetype"),url("webfonts/9178e351-95c5-4913-9eeb-fd0645a18c2d.svg#9178e351-95c5-4913-9eeb-fd0645a18c2d") format("svg");
}
