#mainmenu ul li a{
	display: block;
}
#mainmenu ul li{
	height: 19px;
	float: left;
	width: auto;
	
	margin-right: 4px;
}

#logocontainer{
	text-align: left;
}

.projecttitle {
  text-align: left;
}

html {
  overflow-y:auto;
}

#leftprojcol {
  display: none;
}

#rightprojcol,
#leftprojcol,
.rightprojcol,
.leftprojcol{
  width: 170px !important;
}

#admin-menu {
  display: none;
}

body, div, p, td, {
  text-align: left;
}

UL.primary {
  background: none;
}