
#header #mainmenu{
	position: relative;
}

#header #mainmenu ul{
	height: 19px;
}
#header #mainmenu ul li {

	display: block;
	float: left;
	
	height: 19px;

	padding-right: 5px;
	margin-left: 0px;
}

#header #mainmenu ul li.menu-3963{
	margin-left: 1px;
}

#header #mainmenu ul li a{
	display: block;
	float: left;
	height: 19px;

}

#mainContent .thumbcontainer_box{
}
#mainContent .thumbcontainer_box img{
}
#mainContent .thumbcontainer_box .projecttitle{
	margin-top: -3px;
	display: block;
}