

#mainmenu_new{
	display: block;
	
	height: 19px;
	overflow: visible;
}
#mainmenu_new ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#mainmenu_new ul li {
	display: inline;
	list-style: none;

	margin: 0;
	padding: 0;

	padding-right: 5px;
}

#mainmenu_new ul li .menu-box {
	display: block;
	float: left;
	padding-right: 8px;
		
	background-image: url(images/nav/sepirator_slash_black.png);
	background-repeat: no-repeat;
	background-position: 100% 0px;
}
#mainmenu_new ul li #m-box-about-us.menu-box{
	background-image: url(images/nav/sepirator_slash_black.png);
}
.inverted #mainmenu_new ul li #m-box-about-us.menu-box,
.inverted #mainmenu_new ul li .menu-box {
	background-image: url(images/nav/sepirator_slash_white.png);
}
#mainmenu_new ul li.last .menu-box {
	background-image: none;
}
/*
#mainmenu_new ul li.expanded .menu-box,
#mainmenu_new ul ul li.last .menu-box,
#mainmenu_new ul ul li .menu-box {
	background-image: url(images/nav/sepirator_colon_black.png);
}
#mainmenu_new ul ul li .menu-box {
	margin-left: 0px;
}
.inverted #mainmenu_new ul li.expanded .menu-box,
.inverted #mainmenu_new ul ul li.last .menu-box,
.inverted #mainmenu_new ul ul li .menu-box {
	background-image: url(images/nav/sepirator_colon_white.png);
}
*/
#mainmenu_new ul ul{
	display: none !important;
}

#mainmenu_new ul li .menu-box a{
	text-decoration: none;
	color: #000;
	font-size: 20px;
	line-height: 20px;
	font-family: "Glosa-BoldItalic", Helvetica, sans-serif;

	background-repeat: no-repeat;
	background-position: 0 0;
	display: inline-block;
	
}
ul.menu li .menu-box a{
	margin-top: -4px;
}

#mainmenu_new ul li li .menu-box a{
	font-size: 19px;
	line-height: 20px;
}
.inverted #mainmenu_new ul li .menu-box a{
	color: #FFF;
}

.inverted #mainmenu_new ul li .menu-box a:hover,
.inverted #mainmenu_new ul li .active-1 a,
#mainmenu_new ul li .menu-box a:hover,
#mainmenu_new ul li .active-1 a{
	color: #00a8ec;
}

#menu-about-us .menu{
	display: none;
}

#m-l-about-us{
	background-image: url(images/nav/aboutus_black.png);
	text-indent: -30000px;
	width: 76px;
	
	margin-top: 0px;
}
.inverted #m-l-about-us{
	background-image: url(images/nav/aboutus_white.png);
}
span.active-1 #m-l-about-us,
#m-l-about-us:hover{
	background-image: url(images/nav/aboutus_blue.png);
}

#m-l-contact{
	background-image: url(images/nav/contact_black.png);
	text-indent: -30000px;
	width: 66px;
	
	margin-top: 0px;
}
.inverted #m-l-contact{
	background-image: url(images/nav/contact_white.png);
}
span.active-1 #m-l-contact,
#m-l-contact:hover{
	background-image: url(images/nav/contact_blue.png);
}


#m-l-home{
	background-image: url(images/nav/home_black.png);
	text-indent: -30000px;
	width: 49px;
	
	margin-top: 0px;
}
.inverted #m-l-home{
	background-image: url(images/nav/home_white.png);
}
span.active-1 #m-l-home,
#m-l-home:hover{
	background-image: url(images/nav/home_blue.png);
}

#m-l-services{
	background-image: url(images/nav/services_black.png);
	text-indent: -30000px;
	width: 72px;
	
	margin-top: 0px;
}
.inverted #m-l-services{
	background-image: url(images/nav/services_white.png);
}
span.active-1 #m-l-services,
#m-l-services:hover{
	background-image: url(images/nav/services_blue.png);
}


#m-l-expertise{
	background-image: url(images/nav/expertise_black.png);
	text-indent: -30000px;
	width: 83px;
	
	margin-top: 0px;
}
.inverted #m-l-expertise{
	background-image: url(images/nav/expertise_white.png);
}
span.active-1 #m-l-expertise,
#m-l-expertise:hover{
	background-image: url(images/nav/expertise_blue.png);
}


#m-l-support-services{
	background-image: url(images/nav/support_services_black.png);
	text-indent: -30000px;
	width: 147px;
	
	margin-top: 0px;
}
.inverted #m-l-support-services{
	background-image: url(images/nav/support_services_white.png);
}
span.active-1 #m-l-support-services,
#m-l-support-services:hover{
	background-image: url(images/nav/support_services_blue.png);
}


#header{
	clear: both;
	display: block;
	min-height: 70px;
}

.vertright{
	max-height: 523px;
	
	overflow: auto;
}
.front .vertright{
	max-height: auto;
	height: 523px;
	
	overflow: auto;
}