/* @license
 * MyFonts Webfont Build ID 2299458, 2012-05-28T12:10:44-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Glosa Black Italic by DSType
 * URL: http://www.myfonts.com/fonts/dstype/glosa/black-italic/
 * 
 * Webfont: Glosa Bold Italic by DSType
 * URL: http://www.myfonts.com/fonts/dstype/glosa/bold-italic/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2299458
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2007 by Dino dos Santos _DSType. All rights reserved.
 * 
 * © 2012 Bitstream Inc
*/



  
 @font-face {font-family: 'Glosa-BlackItalic';src: url('webfonts/231642_0_0.eot');src: url('webfonts/231642_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/231642_0_0.woff') format('woff'),url('webfonts/231642_0_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'Glosa-BoldItalic';src: url('webfonts/231642_1_0.eot');src: url('webfonts/231642_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/231642_1_0.woff') format('woff'),url('webfonts/231642_1_0.ttf') format('truetype');}
 