a {
  outline: none;
}
body, div, td, p, textarea {
  font-size: 12px;
}
#user-register .form-text {
	width: 350px;
}

.inlineleft {float: left;}
.inlineright {float: right;}
.clearboth {clear: both;}

.cke_dialog_contents #72_uiElement,
.cke_dialog_contents #advanced_120{
	display: none !important;	
}

.imgright,
.imgcentre,
.imgleft{
	margin-bottom: 10px;
}
.imgcentre{
	clear: both;
	margin: 10px auto;
}
.imgright{
	float: right;
	margin-left: 10px;
}

.imgleft{
	float: left;
	margin-right: 10px;
}

.imgsmall{
	width: 90px;
}
.imgmedium{
	width: 200px;	
}
.imglarge{
	width: 630px;		
}

.imgcaption{
	position: relative;
}

.imgcaptiontext{
	position: absolute;
	bottom: 3px;
	right: 3px;
	background-color: #FFF; 
	border: 2px solid #999;

	_bottom: auto;
	_right: auto;
	_top: 3px;
	_left: 3px;
}

body {
  margin-left: 60px;
  margin-top: 30px;
}

#header, #content, #footer {
  width: 920px;
}

#logocontainer {
  margin-bottom:6px;
}
#logo {
  display: block;
  float: none;
  text-indent: -99999px;
  background: url(images/logo.png);
  background: url(images/logo_technical.png);
  width: 267px;
  height: 42px;
	background-repeat: no-repeat;
	
	background-position: 0px -9px;
}

.inverted #logo {
  background: url(images/inverted/logo.png);
  background: url(images/logo_technical_white.png);
}

#mainmenu ul {
  margin-top: 0px;
}
#mainmenu ul.links li {
  padding: 0px;
  padding-right: 5px;
  margin-left: -5px;
}
#mainmenu ul.links li.menu-3963 {
  padding: 0px;
  padding-right: 3px;
  margin-left: -5px;
}
#mainmenu ul.links li.menu-3630 {
  margin-left: 0px;
}

/*menu definition*/
.menu-3630 {
  background: url(images/mainmenu_backslash1.png) no-repeat right;
  padding-right: 8px;
}
.menu-3630 a {
  display: inline-block;
  text-indent: -9999px;
  background: url(images/mainmenu_web.png) no-repeat right;
  width: 35px;
  height: 19px;
}
.menu-3630 a:hover {
  background: url(images/mainmenu_web_hover.png) no-repeat right;
}
.menu-3630 a.active {
  background: url(images/mainmenu_web_current.png) no-repeat right;
}

.menu-3631 {
  background: url(images/mainmenu_backslash2.png) no-repeat right;
  padding-right: 7px;
}
.menu-3631 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/mainmenu_print.png) no-repeat right;
  width: 42px;
  height: 19px;
}
.menu-3631 a:hover{
  background: url(images/mainmenu_print_hover.png) no-repeat right;
}
.menu-3631 a.active{
  background: url(images/mainmenu_print_current.png) no-repeat right;
}

.menu-3963 {
  background: url(images/mainmenu_backslash3.png) no-repeat right;
  padding-right: 6px;
}
.menu-3963 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/mainmenu_identity.png) no-repeat right;
  width: 67px;
  height: 19px;
}
.menu-3963 a:hover{
  background: url(images/mainmenu_identity_hover.png) no-repeat right;
}
.menu-3963 a.active{
  background: url(images/mainmenu_identity_current.png) no-repeat right;
}

.menu-3632 {
  background: url(images/mainmenu_backslash4.png) no-repeat right;
  padding-right: 7px;
}
.menu-3632 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/mainmenu_miscellaneous.png) no-repeat right;
  width: 117px;
  height: 19px;
}
.menu-3632 a:hover{
  background: url(images/mainmenu_miscellaneous_hover.png) no-repeat right;
}
.menu-3632 a.active{
  background: url(images/mainmenu_miscellaneous_current.png) no-repeat right;
}

.menu-3615 {
  background: url(images/mainmenu_backslash5.png) no-repeat right;
  padding-right: 7px;
}
.menu-3615 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/mainmenu_about.png) no-repeat right;
  width: 46px;
  height: 19px;
}
.menu-3615 a:hover{
  background: url(images/mainmenu_about_hover.png) no-repeat right;
}
.menu-3615 a.active{
  background: url(images/mainmenu_about_current.png) no-repeat right;
}

.menu-3633 {
}
.menu-3633 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/mainmenu_contact.png) no-repeat right;
  width: 62px;
  height: 19px;
}
.menu-3633 a:hover{
  background: url(images/mainmenu_contact_hover.png) no-repeat right;
}
.menu-3633 a.active{
  background: url(images/mainmenu_contact_current.png) no-repeat right;
}


/*inverted*/

.inverted .menu-3630 {
  background: url(images/inverted/mainmenu_backslash1.png) no-repeat right;
}
.inverted .menu-3630 a {
  display: inline-block;
  text-indent: -9999px;
  background: url(images/inverted/mainmenu_web.png) no-repeat right;
  width: 35px;
  height: 19px;
}
.inverted .menu-3630 a:hover {
  background: url(images/inverted/mainmenu_web_hover.png) no-repeat right;
}
.inverted .menu-3630 a.active {
  background: url(images/inverted/mainmenu_web_current.png) no-repeat right;
}
.inverted .menu-3631 {
  background: url(images/inverted/mainmenu_backslash2.png) no-repeat right;
}
.inverted .menu-3631 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/inverted/mainmenu_print.png) no-repeat right;
  width: 42px;
  height: 19px;
}
.inverted .menu-3631 a:hover{
  background: url(images/inverted/mainmenu_print_hover.png) no-repeat right;
}
.inverted .menu-3631 a.active{
  background: url(images/inverted/mainmenu_print_current.png) no-repeat right;
}

.inverted .menu-3963 {
  background: url(images/inverted/mainmenu_backslash3.png) no-repeat right;
}
.inverted .menu-3963 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/inverted/mainmenu_identity.png) no-repeat right;
  width: 67px;
  height: 19px;
}
.inverted .menu-3963 a:hover{
  background: url(images/inverted/mainmenu_identity_hover.png) no-repeat right;
}
.inverted .menu-3963 a.active{
  background: url(images/inverted/mainmenu_identity_current.png) no-repeat right;
}
.inverted .menu-3632 {
  background: url(images/inverted/mainmenu_backslash4.png) no-repeat right;
}
.inverted .menu-3632 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/inverted/mainmenu_miscellaneous.png) no-repeat right;
  width: 117px;
  height: 19px;
}
.inverted .menu-3632 a:hover{
  background: url(images/inverted/mainmenu_miscellaneous_hover.png) no-repeat right;
}
.inverted .menu-3632 a.active{
  background: url(images/inverted/mainmenu_miscellaneous_current.png) no-repeat right;
}

.inverted .menu-3615 {
  background: url(images/inverted/mainmenu_backslash5.png) no-repeat right;
}
.inverted .menu-3615 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/inverted/mainmenu_about.png) no-repeat right;
  width: 46px;
  height: 19px;
}
.inverted .menu-3615 a:hover{
  background: url(images/inverted/mainmenu_about_hover.png) no-repeat right;
}
.inverted .menu-3615 a.active{
  background: url(images/inverted/mainmenu_about_current.png) no-repeat right;
}
.inverted .menu-3633 {
}
.inverted .menu-3633 a{
  display: inline-block;
  text-indent: -9999px;
  background: url(images/inverted/mainmenu_contact.png) no-repeat right;
  width: 62px;
  height: 19px;
}
.inverted .menu-3633 a:hover{
  background: url(images/inverted/mainmenu_contact_hover.png) no-repeat right;
}
.inverted .menu-3633 a.active{
  background: url(images/inverted/mainmenu_contact_current.png) no-repeat right;
}

/*end menu definition*/




.node-type-project #mainContent,
.node-type-page #mainContent,
.node-type-column-page #mainContent{
  bottom: 25px;
}

#mainContent {
  /*position: absolute;*/
  position: fixed;
  width: 920px;
}

.section-node-edit #mainContent,
.section-admin #mainContent,
.section-node-add #mainContent{
 position: relative;
}
#mainContentInner {
  background: url(images/bgcontent.png);
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

body {
  /*background-color: #E2E2E2;*/
  background-color: #ffffff;
}
.projectdetails {
  padding-top: 5px;
}
.projectdetails .col1 {
  height:auto;
}
.projectdescription {
  width: 353px;
  /*height:80px;*/
  font-size:13px;
}
.projectthumbs {
  max-width: 550px;
}
h2.univers14 {
  margin: 0px;
  border-bottom:1px solid #999999;
  height: 20px;
  /*margin-top: -5px;*/
}

.tabs{
  margin-bottom:0px;
}
.tabs li {
  list-style:none;
  list-style-image:none;
  margin-left: 1px;
  background-color:#000000;
  float: left;
  /*height: 20px;*/
  /*padding: 0px 10px;*/

}
.tabs li a{
  font-size:13px;
  color: #ffffff;
  text-decoration:none;
  line-height:10px;
  display: block;
}
.projecttabs ul {
  float: right;
}
#slideshow {
  position: absolute;
}
#slideshow {
  position: fixed;

	top: 0px;
  left:0px;
  z-index:-1;
  width: 100%;
  min-width: 1000px;
}

.web #slideshow {
  width: auto;
  height: 100%;
  top: 100px;
}

.print #slideshow {
  width: 100%;
  height: auto;
}

.web {
  background-color: #ffffff;
}

#slideshow img {
  width: 100%;
}

.print #slideshow img{
  width: 100%;
  height: auto;
}

.identity #slideshow img{
  width: 100%;
  height: auto;
}

.web #slideshow img{
  width: auto; 
  height: 100%;
}

.thumbcontainer {
  margin-left: 3px;
}
.node-type-project,
.node-type-parent-page,
.node-type-six-column-page,
.node-type-column-page,
.node-type-vertical-page,
.node-type-long-content
{
/*  overflow-y: hidden;*/
  
}

.section-node-edit,
.section-admin,
.section-node-add {
  overflow-y: auto !important;
}

.nid {
  display:none;
}

h2.cattitle {
  margin-bottom: 7px;
  margin-bottom: -2px;
}

.catcontainer  {
  width: 460px;
}

.projecttitle {
  font-family: arial;
  font-size: 11px;
  line-height: 15px;
  margin-top: 0px;
  margin-bottom: 4px;
}

.projecttitle a{
  text-decoration: none;
  color: #000000;
}

.width33percent {
  width: 33%;
  font-family: arial;
}
.width34percent {
  width: 34%;
  font-family: arial;
}

.nid-266 .form-textarea, .nid-266 .form-text{
  width: 174px;
}

.leftprojcol, .rightprojcol {
  width: 230px;
}

#archivebtn {
  margin-top: 4px;
}

h2.negativemargin {

}

object {
  outline: none;
}

h2.bottommargin {
  /*margin-bottom: 15px;*/
  margin-bottom: -6px;
}

.nid-266 .textarea-identifier {
  display: none;
}
.nid-266 label{
  display: inline-block;
  vertical-align: top;
  width: 85px;
}

.nid-266 input, .nid-266 textarea {
  border: 1px solid #CCCCCC;
}

.nid-266 #edit-submit {
  background-color: #00919E;
  color: #ffffff;
  border: none;
  font-family: arial;
  font-weight: bold;
  font-size: 11px;
  margin-left: 211px;
}

.width33percent .inlineleft {
  width: 112px;
}

.width33percent .smallwidth {
  width: 76px;
}

.padright {
  padding-right: 30px;
}

#mainContent a {
  /*color: #00ADBC;*/
  /*color: #00ACBB;*/
  color: #000000;
  text-decoration: none;
}

#mainContent a:hover {
  color: #00C4BD;
}

.catthumbs{
	width: 420px;	
}

.special-edit{
}

#admin-menu ul{
	width: 920px;
	margin-left: 60px;
	/*margin: auto;*/
}

.node-type-project {
	/*overflow-y: scroll;*/ /*<-----*/
}
#height-box{
	display: block;
	clear: both;
}
.width-1500 #height-box{
	height: 857px;	
	height: 924px;	
}
.width-1280 #height-box{
	height: 700px;	
	height: 767px;	
}
.width-1024 #height-box{
	height: 560px;	
	height: 627px;	
}
.width-else-web #height-box{
	height: 490px;	
	height: 557px;
}

.width-1800 #height-box{
}
.width-1200 #height-box{
}
.width-else-not-web #height-box{
}
.projecturl {
  position: absolute;
  top: 44px;
  top: 19px;
  right: 19px;
  text-align: right;
}

.width50percent {
  width: 50%;
}

#mainmenu ul.links li {
  display: inline-block;
}

#webform-client-form-267 label {
  text-indent: -99999px;
}

#edit-submitted-name-wrapper label {
  background: url(images/title_yourname.gif) no-repeat;
}

#webform-component-mail label {
  background: url(images/title_youremail.gif) no-repeat;
}

#webform-component-message label {
  background: url(images/title_yourmessage.gif) no-repeat;
}

.thumbcontainer {
  background-color: #000000;
  height: 81px;
  margin-bottom: 3px;
}
.projectthumbs_new .thumbcontainer {
	height: 89px;
}

.sec-5 .panel-1 .catcontainer,
.sec-5 .panel-2 .catcontainer,
.sec-5 .panel-3 .catcontainer,
.sec-5 .panel-4 .catcontainer,
.sec-5 .panel-5 .catcontainer{
  width: 880px;
}

.sec-5 .panel-1 .catcontainer .leftprojcol,
.sec-5 .panel-2 .catcontainer .leftprojcol,
.sec-5 .panel-3 .catcontainer .leftprojcol,
.sec-5 .panel-4 .catcontainer .leftprojcol,
.sec-5 .panel-5 .catcontainer .leftprojcol{
  width: 175px;
}

.sec-5 .panel-1 .catcontainer .rightprojcol,
.sec-5 .panel-2 .catcontainer .rightprojcol,
.sec-5 .panel-3 .catcontainer .rightprojcol,
.sec-5 .panel-4 .catcontainer .rightprojcol,
.sec-5 .panel-5 .catcontainer .rightprojcol{
  width: 175px;
}

#tabwhen a {
  display: block;
  background: url(images/tabs/tabs_whenwedidit.gif) no-repeat;
  text-indent: -9999px;
  width: 99px;
  height: 17px;
}
#tabwhen a:hover {
  background: url(images/tabs/tabs_whenwedidit_hover.gif) no-repeat;
}
#tabwhen a.active {
  background: url(images/tabs/tabs_whenwedidit_current.gif) no-repeat;
}

#tabcost a {
  display: block;
  background: url(images/tabs/tabs_cost.gif) no-repeat;
  text-indent: -9999px;
  width: 46px;
  height: 17px;
}
#tabcost a:hover {
  background: url(images/tabs/tabs_cost_hover.gif) no-repeat;
}
#tabcost a.active {
  background: url(images/tabs/tabs_cost_current.gif) no-repeat;
}

#tabtype a {
  display: block;
  background: url(images/tabs/tabs_tyeofproject.gif) no-repeat;
  text-indent: -9999px;
  width: 96px;
  height: 17px;
}
#tabtype a:hover {
  background: url(images/tabs/tabs_tyeofproject_hover.gif) no-repeat;
}
#tabtype a.active {
  background: url(images/tabs/tabs_tyeofproject_current.gif) no-repeat;
}

#tabsector a {
  display: block;
  background: url(images/tabs/tabs_clientsector.gif) no-repeat;
  text-indent: -9999px;
  width: 95px;
  height: 17px;
}
#tabsector a:hover {
  background: url(images/tabs/tabs_clientsector_hover.gif) no-repeat;
}
#tabsector a.active {
  background: url(images/tabs/tabs_clientsector_current.gif) no-repeat;
}
/*
#tabclose_mainContent {
	
}
#tabclose_mainContent a{
	display: block;
  background: url(images/tabs/slide_show.gif) no-repeat;
  text-indent: -9999px;
  width: 95px;
  height: 17px;
}
#tabclose_mainContent a:hover{
	display: block;
  background: url(images/tabs/slide_show_hover.gif) no-repeat;
  text-indent: -9999px;
  width: 95px;
  height: 17px;
}*/
#tabclose_mainContent {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;	
  width: 99px;
  height: 14px;
}
#tabclose_mainContent a{
	display: block;
  background: url(images/slide/view_in_slideshow.gif) no-repeat;
  text-indent: -9999px;
  width: 99px;
  height: 14px;
}
#tabclose_mainContent a:hover{
  background: url(images/slide/view_in_slideshow.gif) no-repeat;
}


#open_mainContent_wrapper{
	display: block;

	width: 200px;
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: #000000;	
	color: #ffffff;
	
	padding: 20px;
}
#open_mainContent_wrapper.start_hidded{
	display: none;
}
.slide_body{
	display: none;
}
.inverted #open_mainContent_wrapper{
	background-color: #ffffff;	
	color: #000000;
}

.admin-menu #open_mainContent_wrapper{
	top: 30px;
}

#slide_controls{
	display: none !important;
}
#slide_controls a{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #FFF;
	text-indent: -3000px;

	border-top-color: #fff;
	border-left-color: #fff;
	border-bottom-color: #333;
	border-right-color: #333;

	background-color: #999;

	margin-right: 2px;
	
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(images/slide/play.gif);
}
#slide_controls a#slide_stop{
	background-image: url(images/slide/stop.gif);
}
#slide_controls a#slide_pause{
	background-image: url(images/slide/pause.gif);
}
#slide_controls a#slide_slow{
	background-image: url(images/slide/slow.gif);
}
#slide_controls a#slide_fast{
	background-image: url(images/slide/fast.gif);
}

#slide_controls a.active{
	border-top-color: #333;
	border-left-color: #333;
	border-bottom-color: #999;
	border-right-color: #999;
	
	background-color: #666;
}

#open_mainContent{
	display: block;
  /*background: url(images/tabs/slide_show_stop.gif) no-repeat;*/
	background-image: url(images/slide/close.gif);
  text-indent: -9999px;
  width: 15px;
  height: 15px;
	
	position: absolute;
	top: 2px;
	right: 2px;
	
}
.admin-menu #open_mainContent{
	/*top: 30px;*/
}
#open_mainContent:hover{
/*	display: block;
  background: url(images/tabs/slide_show_stop_hover.gif) no-repeat;
  text-indent: -9999px;
  width: 95px;
  height: 17px;*/
}

a.btnvisit {
  display: block;
  background: url(images/btns/button_visitthewebsite.png) no-repeat;
	background-image: url(images/visitlink.gif);
  text-indent: -9999px;
  width: 108px;
  height: 13px;
}
a.btnvisit:hover {
  text-indent: -9999px;
  background: url(images/btns/button_visitthewebsite_hover.png) no-repeat;
	background-image: url(images/visitlink.gif);
}

.btnnovisit {
  display: block;
  background: url(images/btns/button_currentlyunderdevelop.png) no-repeat;
	background-image: url(images/visitlink.gif);
  text-indent: -9999px;
  width: 169px;
  height: 13px;
}


.bkbtn {
  display: block;
  background: url(images/btns/button_back.gif) no-repeat;
  text-indent: -9999px;
  width: 63px;
  height: 14px;
}
.bkbtn:hover {
  background: url(images/btns/button_back_hover.gif) no-repeat;
}

#archivebtn {
  display: block;
  background: url(images/btns/button_archive.gif) no-repeat;
  text-indent: -9999px;
  width: 45px;
  height: 14px;
}

#archivebtn:hover {
  background: url(images/btns/button_archive_hover.gif) no-repeat;
}

.fmore {
  background: url(images/raq.gif) no-repeat right;
  padding-right: 10px;
  color: #00909D !important;
  position: relative;
  top: -11px;
}

h2.cattitle{
  padding-left: 15px;
}

h2.h2-alwaysopen {
  padding-left: 0px;
}

a.cattitle{
  display: block;
  width: 100%;
  height: 9px;
  text-indent: -9999px;
  position: relative;
  top: -14px;
  left: 0px;
  cursor: pointer;
}

a.a-opened:hover {
  background: url(/sites/default/themes/zen/images/expanding_arrows/button_up_hover.gif) no-repeat 0px 0px !important;
}
a.a-opened:active {
  background: url(/sites/default/themes/zen/images/expanding_arrows/button_up.gif) no-repeat 0px 0px !important;
}
a.a-closed:hover {
  background: url(/sites/default/themes/zen/images/expanding_arrows/button_down_hover.gif) no-repeat 0px 0px !important;
}
a.a-closed:active {
  background: url(/sites/default/themes/zen/images/expanding_arrows/button_down.gif) no-repeat 0px 0px !important;
}

#imageLoaderSplashArea {
  display: none;
}

.bottomspacer {
  height: 7px;
}

.image_width_set #slideshow{
	width: 100%;
	height: auto;
}
.image_width_set #slideshow img{
	width: 100%;
	height: auto;
}
.image_height_set #slideshow{
	width: auto;
	height: 100%;
}
.image_height_set #slideshow img{
	width: auto;
	height: 100%;
}
.web{
	padding-bottom: 100px;
}
.web #slideshow {
  width: auto;
  height: 100%;
  top: 60px;
	
	min-height: auto;
}
.web #slideshow img{
  width: auto !important;
  height: 100% !important;
}

.print #slideshow {
  width: 100%;
  height: auto;
}
.print #slideshow img {
  width: 100%;
  height: auto;
}

#slideshow {
  /*width: 100% !important;*/
	width: 100%;
}
.web #slideshow img.stretch {
  /*width: 100% !important;*/
  width: 100%;
}


#tabcost {
  display: none;
}
.nid-617 #mainContent {
  display: none;
}
.page-node-617-edit  #mainContent {
  display: block;
}

.slide_subnav{
	display: none;	
}
.logged-in .slide_subnav{
	display: block;	
}
/*
#mainContent,
#mainContent *{
	z-index: 20;	
}
*/
.projecttabs,
#mainContentInner{
	position: relative;	
}

#next2,
#prev2{
	display: block;
	position: absolute;
	top: 30%;
	
	width: 200px;
	height: 300px;
	text-indent: -3000px;
	/*z-index: 10;	*/
	background-image: url(images/btns/left.png) !important;
	background-position: 0 0;
}
#next2{
	background-image: url(images/btns/right.png) !important;
}

#next2{
	right: 0;
}
#prev2{
	left: 0;	
}
.logged-in #next2,
.logged-in #prev2{
	display: block;	
}
/*.taxo-name-our-best-and-most-recent-work{
	display: none;	
}*/

html{
	min-width: 1000px;
	min-height: 400px;
}
body{
	min-width: 920px;
}
#height-box{
	min-width: 920px;
	height: 100%
}
#header{
	margin: 0;
}


/*taxonomy*/
h2.taxoimagetitle{
	background-position: 15px 100%;
	background-repeat: no-repeat;
}
/*
h2.cattitle object,
h2.cattitle span{
	display: none;
}
*/
h2.taxoimagetitle{
	text-indent: -3000px;
	border-bottom: 1px solid #999999;
}

h2.taxo-name-our-best-and-most-recent-work{
	background-image: url(images/taxo/ourbest.png) !important;	
	background-image: url(images/taxo/ourbest.gif);	
}
h2.taxo-name-archive{
	background-image: url(images/taxo/archive.png) !important;	
	background-image: url(images/taxo/archive.gif);	
}


h2.taxo-name-public-sector{
	background-image: url(images/taxo/public.png) !important;	
	background-image: url(images/taxo/public.gif);	
}
h2.taxo-name-non-profit-third-sector{
	background-image: url(images/taxo/nonprofit.png) !important;	
	background-image: url(images/taxo/nonprofit.gif);	
}
h2.taxo-name-start-ups-and-private-sector{
	background-image: url(images/taxo/startups.png) !important;	
	background-image: url(images/taxo/startups.gif);	
}

h2.taxo-name-a{
	background-image: url(images/taxo/a.png) !important;	
	background-image: url(images/taxo/a.gif);	
}
h2.taxo-name-b{
	background-image: url(images/taxo/b.png) !important;	
	background-image: url(images/taxo/b.gif);	
}
h2.taxo-name-c{
	background-image: url(images/taxo/c.png) !important;	
	background-image: url(images/taxo/c.gif);	
}


h2.taxo-name-blog{
	background-image: url(images/taxo/blog.png) !important;	
	background-image: url(images/taxo/blog.gif);	
}
h2.taxo-name-book{
	background-image: url(images/taxo/book.png) !important;	
	background-image: url(images/taxo/book.gif);	
}
h2.taxo-name-web{
	background-image: url(images/taxo/web.png) !important;	
	background-image: url(images/taxo/web.gif);	
}
h2.taxo-name-clever-stuff-app{
	background-image: url(images/taxo/clever.png) !important;	
	background-image: url(images/taxo/clever.gif);	
}
h2.taxo-name-organisational{
	background-image: url(images/taxo/organisational.png) !important;	
	background-image: url(images/taxo/organisational.gif);	
}
h2.taxo-name-other{
	background-image: url(images/taxo/other.png) !important;	
	background-image: url(images/taxo/other.gif);	
}
h2.taxo-name-print{
	background-image: url(images/taxo/print.png) !important;	
	background-image: url(images/taxo/print.gif);	
}
h2.taxo-name-identity{
	background-image: url(images/taxo/identity.png) !important;	
	background-image: url(images/taxo/identity.gif);	
}
h2.taxo-name-miscellaneous{
	background-image: url(images/taxo/miscellaneous.png) !important;	
	background-image: url(images/taxo/miscellaneous.gif);	
}





body.print {
	background-color: #e6e6e5;
}

.vertleft {
  width: 552px;
  margin-right: 10px;
	
	background: url(images/bgcontent.png);
  padding: 30px 30px;
}

.vertright {
  width: 278px;
	padding: 10px;
}
.inlineleft {
  float: left;
}
.nodethumb  {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  margin-top: 5px;
}
.nodedesc {
  width: 200px;
  font-family: Helvetica, Arial;
  font-size: 12px;
  padding-top: 5px;
  font-weight: normal;
}
.nodetitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family:"Univers LT W01 65 Bold", Arial, Helvetica;
  border-bottom:  1px dashed #d7d7d7;
}

.node-type-page #mainContentInner,
.node-type-vertical-page #mainContentInner {
  background: none;
  padding:  0;
}

.node-type-page .vertleft,
.node-type-page .vertright,
.node-type-vertical-page .vertleft,
.node-type-vertical-page .vertright {
  background: url(images/bgcontent.png);
  /*padding: 10px;*/
}

/*.node-type-page .vertleft,
.node-type-page .vertright{*/
.nid-723 .vertleft,
.nid-723 .vertright,
.nid-8 .vertleft,
.nid-8 .vertright{
	padding: 23px 20px;
	width: 360px;
}
/*.node-type-page .vertright{*/
.nid-723 .vertright,
.nid-8 .vertright{
	width: 170px;
}
.nid-723
.nid-8

.node-type-vertical-page .vertleft {
  padding:  30px 30px;
}

h1.title{
  font-size: 40px;
  font-family: 'Glosa-BoldItalic';
	font-weight: normal;
  color: #00a8ec;
	text-transform: lowercase;
	
	margin-top: -12px;
}
.front h1.title{
	font-weight: normal;
	display: inline-block;
	color: #FFFFFF;
	background-color: #333333;
	font-size: 20px;
	padding: 3px 10px 6px 20px;
	margin-left: -20px;
	
	margin-top: 0px;
}

.node-type-vertical-page .vertright h2 a {
  font-family: 'Glosa-BlackItalic';
  font-weight: normal;
  font-size: 24px;
  color: #00a8ec !important;
  margin-top: 29px;
  display: block;
  margin-bottom: 10px;
}
.node-row {
  margin-bottom: 13px;
}

.vertleft ol,
.vertleft .olnumber {
  font-size: 40px;
  font-family: 'Glosa-BlackItalic';
  color: #00a8ec;
  padding:  0;
  margin:  0;
}

.vertleft .olnumber {
  float: left;
  width: 35px;
  margin-top: -9px;
}

.vertleft ol li {
 /* padding-left: 35px;*/
  list-style: none;
  margin-bottom: 23px;

}

.vertleft .bodyintro {
  font-family: 'Glosa-BoldItalic';
	font-weight: normal;

  line-height: 1.2em;
  font-size: 22px;
  color: #00a8ec;
  margin-bottom: 22px;
}

.vertleft .bodytitle {
  font-family: 'Glosa-BoldItalic';
	font-weight: normal;

  line-height: 1.2em;
  font-size: 18px;
  color: #00a8ec;
  display: block;
  margin-bottom: -13px;

  
}

.vertleft p, .vertleft li, .vertleft div, .vertleft td {
  font-family:"Univers LT W01 45 Light";
  font-size: 12px;
  color: #000000;
}

.nodedesc,
.nodethumb {
	display: none;
}
/*
#mainContent h1.title{
	font-family: 'Glosa-BoldItalic';
	font-family: 'GlosaEffusion';
	font-weight: normal;
	font-style: normal;

	margin-bottom: 10px;
	font-size: 20px;
	
}
#mainContent h1.v1{
	font-weight: normal;
}
#mainContent h1.v2{
	font-weight: normal;
	font-style: italic;
}
#mainContent h1.v3{
	font-weight: bold;
	font-style: italic;
}

#mainContent h1.v4,
#mainContent h1.v5,
#mainContent h1.v6{

	font-stretch: narrower;
}
*/

.vertright .nodetitle,
#right_perm_col a,
#right_perm_col li,
#right_perm_col #more_services{
  font-family:"Univers LT W01 55 Roman", Arial, Helvetica;
	font-size: 13px;
}


#right_perm_col a:hover{
	color: #007fcc;
}
#mainContent .vertright h2.title,
#right_perm_col h3.rhs_title{
font-family: 'Glosa-BoldItalic';
margin-left: -20px;
padding: 0px 11px 3px 20px;
background-color: #007fcc;
color: #FFF;
font-weight: normal;

display: inline-block;
font-size: 20px;
line-height: 1em;


	font-size: 20px;
	padding: 3px 10px 5px 20px;


}
.vertright h2.title{
	margin-top: 20px;
	margin-bottom: 10px;
}
#mainContent .vertright h2.title a,
#right_perm_col h3.rhs_title a{
font-family: 'Glosa-BoldItalic';
color: #FFF;
font-weight: normal;
font-size: 20px;
line-height: 1em;
margin: 0;
}
#mainContent .vertright h2.title a{
	color:  #FFF !important;
}

.vertright .block-menu_block .content,
#right_perm_col ul{
	list-style: none;
	padding: 0;
	margin: 12px 0;
	
	border-top: 1px dashed #66b2e0;
}
.vertright .block-menu_block .node-row,
#right_perm_col li{
	list-style: none;	
	border-bottom: 1px dashed #66b2e0;
}
.vertright .block-menu_block .node-row{
	margin-bottom: 0px;
}

.vertright .block-menu_block .node-row a,
#right_perm_col li a{
	display: block;
	padding: 3px 2px;
}

#mainContent .vertright .block-menu_block .node-row a:hover,
#more_services a:hover,
#right_perm_col #services_direct li a:hover{
	color: #007fcc;	
}
.vertright .block-menu_block .node-row a span,
#more_services a span,
#right_perm_col #services_direct li a span{
	font-size: 18px;
	line-height: 0.9em;
	color: #007fcc;
}

#more_services{
	display: block;
	text-align: right;
	font-weight: normal;
	margin-top: -10px;
}
ul#more{
	border: none;
	margin-top: 6px;
}
ul#more li{
	border: none;
	margin: 1px 0px;
	display: block;
	
	line-height: 16px;
	border-bottom: 2px solid transparent;
	overflow: hidden;
}
ul#more a{
	font-family: 'Glosa-BoldItalic', Georgia, "Times New Roman", Times, serif;
	margin-left: 0px;
	padding: 0px 4px 3px 4px;
	background-color: #007fcc;
	color: #FFF;
	font-weight: normal;
	display: inline-block;
	font-size: 16px;
}
ul#more a{
	line-height: 16px;
}

ul#more a span{
	font-family:'Univers LT W01 55 Roman', Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 0.8em;
}
ul#more a:hover{
	color: #000;
}
#close,
#sub_nav a{
  font-size: 11px;
	color: #666666;
}
#close,
#sub_nav a{
	font-family:'Univers LT W01 55 Roman', Arial, Helvetica, sans-serif;

  font-size: 11px;
	color: #666666;
}
#sub_nav a span{
  font-size: 15px;
	line-height: 0.7em;
	vertical-align: baseline;
}
#close{
	display: block;
	margin-top: -8px;
	margin-left: 2px;
}


#right_perm_col_services{
	display: none;
}
.front #right_perm_col_services{
	display: block;
}


.vblock-style-special .nodedesc, 
.vblock-style-special .nodethumb {
	display: block;
	color: #000;
}

.vblock-style-special .nodethumb {
	float: left; 
	width: 180px;
	margin: 0 -180px 0 0;
	height: 97px;
}
.vblock-style-special .nodedesc,
.vblock-style-special .nodetitle{
	margin-left: 180px;
}
.vblock-style-special{
	clear: both;
	margin: 10px 0px;
}

.vblock-style-special .nodetitle {
    border-bottom: none;
}
#mainContent .vblock-style-special .nodetitle a {
    background-color: #333333;
    color: #FFFFFF;
    display: block;
    float: left;
    font: 16px/17px 'Glosa-BoldItalic';
    margin-bottom: 6px;
    padding: 2px 6px 4px 3px;
}
#mainContent .vblock-style-special .nodetitle a:hover {
	background-color: #222222;
}

#grid_box{
	display: block;
	clear: both;
}

#grid_box .grid_item{
	display: block;
	float: left;
	width: 177px;
	margin-right: 10px;
	margin-bottom: 10px;
	
	min-height: 80px;
	position: relative;
	vertical-align: middle;
	text-align: center;
}
#grid_box .grid_item a{
	display: block;
	width: 170px;
	min-height: 80px;
}
#grid_box .grid_item img{
	margin: 0 auto;
	padding: 3px;
	border: 1px solid #fff;
	border-bottom: 1px dashed #00A8EC;
	height: auto;
	width: auto;
}
#grid_box .grid_item a:hover img{
	border: 1px solid #999;
}

#grid_box .grid_item_3_2{
	margin-right: 0px;
}

.has_grid .vertleft,
.has_grid .vertright {
	background-color: #FFF;
	background-image: none;
}

.vblock-style-special h2.title{
		margin-bottom: 10px;
}


.vblock-style-normal h2.title{
	margin-bottom: 0px;
}


.vertright.fixed{
	max-height: none;
	height: 523px;
}

.vertcontent .jScrollPaneTrack{
	background-color: transparent;
	/*background-image: url(bgcontent.png);*/
}
.vertcontent .jScrollPaneDrag{
	/*background-color: transparent;
	background-image: url(bgcontent.png);*/
}

* {
	outline: none;
}

.front .vertcontent{
	height: 575px;
}