.box {
    width: 170px;
}

.box-0,
.box-2 {
    margin-right: 20px;
}
.boxtitle span {
    display: block;
    float: left;
    background-color: #333333;
    color: #ffffff;
    font: normal 16px/17px 'Glosa-BoldItalic';
    padding: 2px 6px 4px 3px;
    margin-bottom: 6px;

}
.boxtitle a:hover span {
	background-color: #222222;
}


.boxthumb {
    margin-bottom: 10px;
}
.boxdesc {
    font: normal 13px/16px 'Univers LT W01 55 Roman' !important;

}

.vertleft .bodyintro {
    font-size: 20px;
    line-height: 23px;
    color: #333333;

}
.front h1 {
    line-height: 19px;
    /*padding-top: 4px;*/
}

.front .vertleft .bodyintro {
    margin-bottom: 8px;
}