/* custom search styles */

/* Uncomment the lines below in order to have the search button integrated into the search box */
#search #edit-submit {
	display: none;
}

#search .form-text {
	background: url(/sites/default/themes/zen/images/go.jpg) no-repeat top right;
	padding-right: 16px;
}


