html{
	margin: 0;
	padding: 0;
	background:#000;
}

body{
	margin: 0;
	padding: 0;
	background-color:#333;
	color: #3f3f3f;
	font-size: 14px;
}

#print-box{
	display: block;	
}
#box-outer{
	display: none;	
}

