html{
	margin: 0;
	padding: 0;
	background:#fff;
}

body{
	margin: 0;
	padding: 0;
	color: #3f3f3f;
	font-size: 14px;
}

#print-box{
	display: none;	
}

body,
#image,
#box-outer{
	min-width: 700px;
	min-height: 600px;	

	_width: 700px;
	_height: 600px;	
}

#box-outer{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	position: absolute;
}
#box-wrapper{
	padding-left: 36px;
	position: relative;
	z-index:6000;

}
#box{
	width: 310px;
	height: 560px;
	padding: 30px;
	width: 260px;
	
	padding-top: 0px;
	padding-bottom: 0px;

	margin-top: 0px;
	background:transparent url(/holding/images/bg_box.png) repeat scroll 0 0 !important;
	*background:white url(/holding/images/bg_box.gif) repeat scroll 0 0 !important;
	background:white url(/holding/images/bg_box.gif) repeat scroll 0 0;
	
	position: absolute;
	top: 0;
	left: 0;
	z-index:6000;

	position: relative;

}

#image{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:2000;
	overflow: hidden;
}
#image .imgbox{
	width: 100%;	
	display: block;
	z-index:3000;
	
	position: absolute;
	top: 0;
	left: 0;
	
}
#image img{
	position: relative;
	width: 100%;	
}
.size-by-height #image img{
	position: relative;
	width: auto;	
	height: 100%;	
}

#image .imgbox.image-current{
	z-index:4000;
}
#image .imgbox.image-next{
	z-index:3000;	
}
#image .imgbox.image-used{
	z-index:2000;	
}
#image img.image-used{
	display: none;	
}

.grid {
	/*background:transparent url(/holding/images/grid.png) repeat scroll 0 0 !important;
	background:transparent url(/holding/images/grid.gif) repeat scroll 0 0;*/
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:5000;
}

h2{
	color: #e10078;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	padding-top: 5px;
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
}
#box-inner *{
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
}
h1{
	background-image: url(images/logo_effusion.png) !important;
	*background-image: url(images/logo_effusion.gif) !important;
	background-image: url(images/logo_effusion.gif);
	height: 129px;
	text-indent: -30000px;
	margin: 0;
	padding: 0;
}
h2#same{
	border-top: none;
	background-image: url(images/title_same.png) !important;	
	*background-image: url(images/title_same.gif) !important;	
	background-image: url(images/title_same.gif);	
	height: 20px;
	text-indent: -30000px;
}
h2#different{
	border-top: none;
	background-image: url(images/title_different.png) !important;	
	*background-image: url(images/title_different.gif) !important;	
	background-image: url(images/title_different.gif);	
	height: 20px;
	text-indent: -30000px;
}
h2#contact_2{
	border-top: none;
	background-image: url(images/contact.png) !important;	
	*background-image: url(images/contact.gif) !important;	
	background-image: url(images/contact.gif);	
	height: 20px;
	text-indent: -30000px;
}

#address{
	text-align: left;
	background-image: url(images/address.png) !important;		
	*background-image: url(images/address.gif) !important;		
	background-image: url(images/address.gif);		
	text-indent: -30000px;
	height: 60px;
	margin-bottom: 0;
}
#email-address{
	width: 129px;
	margin-top: 0;
	height: 15px;
}
#email-address a{
	margin-bottom: 0;
	background-image: url(images/email_address.png) !important;		
	*background-image: url(images/email_address.gif) !important;		
	background-image: url(images/email_address.gif);		
	text-indent: -30000px;
	height: 15px;
}
#email-address a:hover{
	background-image: url(images/email_address_hover.png) !important;		
	*background-image: url(images/email_address_hover.gif) !important;		
	background-image: url(images/email_address_hover.gif);		
}

#intro-1{
	background-image: url(images/bodytext.png) !important;		
	*background-image: url(images/bodytext.gif) !important;		
	background-image: url(images/bodytext.gif);		
	text-indent: -30000px;
	height: 209px;	
}
#same-1{
	background-image: url(images/paragraph_same.png) !important;		
	*background-image: url(images/paragraph_same.gif) !important;		
	background-image: url(images/paragraph_same.gif);		
	text-indent: -30000px;
	height: 120px;	
}

#different-1{
	background-image: url(images/paragraph_different.png) !important;		
	*background-image: url(images/paragraph_different.gif) !important;		
	background-image: url(images/paragraph_different.gif);		
	text-indent: -30000px;
	height: 150px;	
}

#portfolio{
	position: absolute;
	bottom: 10px;
	right: 0;
	width: 117px;
	height: 20px;
}
#portfolio a{
	margin-bottom: 0;
	background-image: url(images/portfolio.png) !important;		
	*background-image: url(images/portfolio.gif) !important;		
	background-image: url(images/portfolio.gif);		
	text-indent: -30000px;
	height: 20px;
}
#portfolio a:hover{
	margin-bottom: 0;
	background-image: url(images/portfolio_hover.png) !important;		
	*background-image: url(images/portfolio_hover.gif) !important;		
	background-image: url(images/portfolio_hover.gif);		
	text-indent: -30000px;
	height: 20px;
}

#email-address{
	margin-bottom: 30px;	
}

#new-site{
	position: absolute;
	background-image: url(images/greentag.png) !important;		
	*background-image: url(images/greentag.gif) !important;		
	background-image: url(images/greentag.gif);		
	width: 88px;
	height: 88px;
	right: 33px;
	top: 395px;
	text-indent: -30000px;
}


