@charset "utf-8";
/* CSS Document 
&raquo; = »

<img width="964" height="338" src="https://www.effusion.co.uk/ss/y/a.jpg" alt="yf" class="imgct"/>
<div id="box"><style type="text/css">@import "https://www.effusion.co.uk/ss/y/l.css";</style>
<div class="bc"><a href="http://www.youngfoundation.org/">Home</a> &raquo; <a href="http://www.youngfoundation.org/shop">Shop</a> &raquo; Checkout</div><a id="lhl" href="http://www.youngfoundation.org/">THE YOUNG FOUNDATION</a><div id="nav_top"><div id="tn"><ul>
<li id="mTIP"><a href="http://www.youngfoundation.org/thoughts-progress/thoughts-in-progress">TIPS</a></li>
<li id="mSU"><a href="http://www.youngfoundation.org/support-us">Support Us</a></li>
<li id="mSh"><a class="av" href="http://www.youngfoundation.org/shop">Shop</a></li>
<li id="mMC"><a href="http://www.youngfoundation.org/media-centre">Media Centre</a></li>
</ul></div><div id="m-n">
<ul><li id="mH"><a href="http://www.youngfoundation.org/">Home</a></li>
<li id="miAbout_Us"><a href="http://www.youngfoundation.org/about-us">About</a></li>
<li id="mN"><a href="http://www.youngfoundation.org/news">News</a></li>
<li id="mE"><a href="http://www.youngfoundation.org/events">Events</a></li>
<li id="mP"><a href="http://www.youngfoundation.org/publications">Publications</a></li>
<li id="mOW"><a href="http://www.youngfoundation.org/our-work">Our Work</a></li>
<li id="mO"><a href="http://www.youngfoundation.org/opportunities/opportunities">Opportunities</a></li>
<li id="mC"><a href="http://www.youngfoundation.org/contact-us">Contact</a></li>
</ul></div></div>
<div id="src"><form action="http://www.youngfoundation.org/search/node" method="get" id="sf"><input type="text" class="ft" value="Enter words to search" size="15" id="ek" name="keys" maxlength="128"/><button  id="es" name="op" type="submit">SCH</button><input type="hidden" value="fa7dacb374b1067733b79dfd4a6fac1a" id="et" name="form_token"/><input type="hidden" value="search_theme_form" id="etf name="form_id"/>
</form></div>
<div id="bsk"><SCRIPT LANGUAGE="JavaScript" SRC="http://www.romancart.com/cartinfo.asp?storeid=20503&type=1"></SCRIPT> items</div>
</div>

*/
* {
margin: 0px auto;
padding: 0px;
}
body {
margin-top:0px;
background:url(https://www.effusion.co.uk/secure_store/youngfoundationshop/layout_header_bg.jpg) no-repeat 50% 0%;
}
.imgct{
	margin-bottom: -338px;
	*margin-top: -11px;	
}
td{
	*padding-top: 0;
	*margin-top: 0;
}
#box{
	display: block;
	position: relative;
	height: 238px;
	width: 964px;
	margin-bottom: 5px;

	*margin-top: -11px;	

}

.bc{
	position: absolute;
	left: 10px;
	top: 27px;
	color: #FFFFFF;
	font-family:Verdana,"Bitstream Vera Sans",Arial,Helvetica,sans-serif;
}
.bc a{ 
	color: #FFFFFF;
	font-weight: bold;
}
.bc a:hover{ 
	text-decoration: underline;
}
#lhl{
	display: block;
	position: absolute;
	top: 57px;
	left: 0;
	width: 285px;
	height: 77px;
	text-indent: -30000px;
}


#nav_top{
	/*display: none;*/
	position: relative;
	top: 42px;
}



	#navagation h2,
	#nav_top h2
	{
		/*display: none;*/
	}

	#navagation ul,
	#nav_top ul,
	#nav_top ul
	{
		list-style: none;
		width: 100%;
		clear: both;
		height: auto;
	}
	#navagation li,
	#nav_top li,
	#nav_top li
	{
		list-style: none;
		float: left;	
	}
	#tn ul,
	#tn ul{
		width: 50%;
		display: block;
		height: 18px;
		border-left: 1px solid #7f9193;
				
		width: 340px;
		width: 328px;
		margin: 0;
		margin-left: 472px;
		padding: 0;
		padding-right: 7px;
		background-repeat: no-repeat;
		background-position: 100% 1px;
		background-image: url(images/nav_top_bg_shadow.png) !important;
		background-image: url(images/nav_top_bg_shadow.png);
		_background-image: url(images/blank.gif);
		*width: 350px;
	}
	#tn ul li,
	#tn ul li{
		background-color: #717f81;
		margin: 0;
		padding: 0;
		height: 17px;
		border-top: 1px solid #7f9193;
		border-right: 1px solid #7f9193;
	}
	#tn ul li a,
	#tn ul li a{
		color: #FFFFFF;
		border-bottom: none;
		text-transform: uppercase;
		padding: 0px 0px;
		font-size: 0.8em;	
		height: 17px;
		background-repeat: no-repeat;
		background-position: 0 0;
		text-indent: -30000px;
		display: block;
		float: left;
	}
	#tn ul li#mSU a{
		background-image: url(images/nav_top_supportus.gif);
		width: 71px;
	}
	#tn ul li#mTIP a{
		background-image: url(images/nav_top_tips.gif);
		width: 128px;
	}
	#tn ul li#mSh a{
		background-image: url(images/nav_top_shop.gif);
		width: 41px;
	}
	#tn ul li#mMC a{
		background-image: url(images/nav_top_mediacentre.gif);
		width: 84px;
	}


	#tn ul li#mSU a.av,
	.page-about-us-supporters-supporters #tn ul li#mSU a
	{
		background-image: url(images/nav_top_supportus_current.gif);
	}
	#tn ul li#mTIP a.av,
	.section-thoughts-in-progress #tn ul li#mTIP a{
		background-image: url(images/nav_top_tips_current.gif);
	}
	#tn ul li#mSh a.av,
	.section-shop #tn ul li#mSh a{
		background-image: url(images/nav_top_shop_current.gif);
	}
	#tn ul li#mMC a.av, 
	.section-media-centre #tn ul li#mMC a{
		background-image: url(images/nav_top_mediacentre_current.gif);
	}

	#tn ul li#mSU a:hover{
		background-image: url(images/nav_top_supportus_hover.gif);
	}
	#tn ul li#mTIP a:hover{
		background-image: url(images/nav_top_tips_hover.gif);
	}
	#tn ul li#mSh a:hover{
		background-image: url(images/nav_top_shop_hover.gif);
	}
	#tn ul li#mMC a:hover{
		background-image: url(images/nav_top_mediacentre_hover.gif);
	}
	
	
	#m-n ul{
		margin-left: 376px;
		width: 60%;
		margin-left: 320px;
		margin-left: 360px;
		margin-left: 374px;
		width: 70%;
		*width: 600px;
	}
	#m-n ul li{
		margin: 0;
		padding: 0;
		background-image: url(images/nav_li_bg.png) !important;
		background-image: url(images/nav_li_bg.gif);
		background-position: 100% 0%;
		background-repeat: no-repeat;
		display: block;
		height: 30px;
		width: auto;
	}
	#m-n ul li#mH{
		background-image: url(images/nav_li_bg_home.png) !important;
		background-image: url(images/nav_li_bg_home.gif);
		width: 49px;
	}
	#m-n ul li#mC{
		background-image: url(images/nav_li_bg_contactus.png) !important;
		background-image: url(images/nav_li_bg_contactus.gif);
		width: 88px;
	}
	
	
	#m-n ul li a{
		color: #4f4e4e;
		border: none;
		/*text-transform: uppercase;
		padding: 7px 6px;*/
		font-size: 0.7em;	


		display: block;
		float: left;
		width: auto;	
		background-repeat: no-repeat;
		background-position: 100% 6px;

		height: 11px;

		height: 23px;
		padding-top: 6px;
		padding-bottom: 6px;
		height: 11px;
		
		text-indent: -30000px;
	}
	
	#m-n ul li#mH a{
		background-image: url(images/nav_home.gif);
		width: 49px;
	}
	#m-n ul li#miAbout_Us a{
		background-image: url(images/nav_aboutus.gif);
		width: 70px;
	}
	#m-n ul li#mN a{
		background-image: url(images/nav_news.gif);
		width: 45px;
	}
	#m-n ul li#mE a{
		background-image: url(images/nav_events.gif);
		width: 53px;
	}
	#m-n ul li#mP a{
		background-image: url(images/nav_publications.gif);
		width: 92px;
	}
	#m-n ul li#mOW a{
		background-image: url(images/nav_ourwork.gif);
		width: 76px;
	}
	#m-n ul li#mO a{
		background-image: url(images/nav_opportunities.gif);
		width: 99px;
	}
	#m-n ul li#mC a{
		background-image: url(images/nav_contactus.gif);
		width: 88px;
	}
	
	#m-n ul li#mH a.av,
	.section-home #m-n ul li#mH a
	{
		background-image: url(images/nav_home_current.gif);
	}
	#m-n ul li#miAbout_Us a.av,
	.section-about-us #m-n ul li#miAbout_Us a{
		background-image: url(images/nav_aboutus_current.gif);
	}

	#m-n ul li#mN a.av, 
	.section-news #m-n ul li#mN a{
		background-image: url(images/nav_news_current.gif);
	}
	#m-n ul li#mE a.av,
	.section-events #m-n ul li#mE a{
		background-image: url(images/nav_events_current.gif);
	}
	#m-n ul li#mP a.av,
	.section-publications #m-n ul li#mP a{
		background-image: url(images/nav_publications_current.gif);
	}
	#m-n ul li#mOW a.av,
	.section-our-work #m-n ul li#mOW a{
		background-image: url(images/nav_ourwork_current.gif);
	}
	#m-n ul li#mO a.av,
	.section-opportuniteies #m-n ul li#mO a{
		background-image: url(images/nav_opportunities_current.gif);
	}
	#m-n ul li#mC a.av,
	.section-contact-us #m-n ul li#mC a{
		background-image: url(images/nav_contactus_current.gif);
	}


	#m-n ul li#mH a:hover{
		background-image: url(images/nav_home_current.gif);
	}
	#m-n ul li#miAbout_Us a:hover{
		background-image: url(images/nav_aboutus_current.gif);
	}
	#m-n ul li#mN a:hover{
		background-image: url(images/nav_news_current.gif);
	}
	#m-n ul li#mE a:hover{
		background-image: url(images/nav_events_current.gif);
	}
	#m-n ul li#mP a:hover{
		background-image: url(images/nav_publications_current.gif);
	}
	#m-n ul li#mOW a:hover{
		background-image: url(images/nav_ourwork_current.gif);
	}
	#m-n ul li#mO a:hover{
		background-image: url(images/nav_opportunities_current.gif);
	}
	#m-n ul li#mC a:hover{
		background-image: url(images/nav_contactus_current.gif);
	}



#src{
	/*display: none;*/
	position: absolute;
	top: 2px;
	right: 20px;
	*top: 0px;
	*right: 30px;
}
#ek {
background-color:#07A855;
border:1px solid #83D4AA;
color:#CCEEDC;
font-size:0.9em;
height:13px;
height:17px;
margin:0 0 0 6px;
padding:1px;
position:relative;
top:-2px;
width:160px;
width:166px;
font-family:Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

#es {
background-color:#06A854;
background-image:url(images/button_search.gif);
background-position:50% 60%;
background-position:50% 50%;
background-repeat:no-repeat;
border:1px solid #06A854;
height:20px;
text-indent:-30000px;
width:60px;
*width:50px;
}

#bsk{
	/*display: none;*/

	position: absolute;
	top: 4px;
	right: 346px;
	*top: 2px;
	*right: 356px;
	
	font-family:Arial,Helvetica,sans-serif;
	font-size:1.1em;
	color:#FFFFFF;
}